textarea{
	resize: none;
}


.input{
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 10px;
}

input, textarea{
	margin-left: 50px;
}

#submit{
	margin: 0;
}
.back{
	margin-top: 50px;
	padding: 15px 25px;
	background-color: #7a624b;
	color: #fff;
	border: 2px solid #7a624b;
	font-family: 'Dosis', sans-serif;
	transition: .3s;
}

.back:hover{
	background: #fff;
	color: #7a624b;
}