<!DOCTYPE xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meetings Calendar</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
	<section class="header">
		<header>
			<div class="container">
				<h1>Meetings Calendar</h1>
			</div>
		</header>
	</section>


	<section class="meetings">
		<div class="container">
			<div class="calendar">
				<div class="add">
					<a href="add-meeting">ADD MEETING</a>
				</div>

				<!-- <div class="meeting">
					<div class="flex">
						<h2>Date</h2>
						<h3>23.12.2000</h3>
					</div>
					<div class="flex">
						<h2>Time</h2>
						<h3>19:00</h3>
					</div>
					<div class="flex">
						<h2>Type</h2>
						<h3>Audio-conference</h3>
					</div>
					<div class="flex">
						<h2>Title</h2>
						<h3>Talk about something...</h3>
					</div>
					<div class="flex">
						<h2>About</h2>
						<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est autem quis rerum! Ex consequatur fugiat, eum ratione sint eaque quaerat voluptatum doloribus, ipsam illo fugit iusto sequi, quis nobis, iure.</h3>
					</div>
					<div class="id">
						<p id="id">1</p>
					</div>
					<div class="delete">
						<i class="far fa-times-circle"></i>
					</div>
				</div> -->

			</div>
		</div>
	</section>

	
	<script src="../static/js/script.js" th:scr="@{/js/script.js}"></script>

	<script type="text/javascript">


// When we load main page we will find out all meetings from back and display them
window.onload = function(){
	var xhr = new XMLHttpRequest();
	xhr.open("POST", '/', true);
	
	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

	xhr.onreadystatechange = function() { // Call a function when the state changes.
	    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
	       var result = JSON.parse(xhr.response);
	       buildMeetings(result);
	    }
	}
	xhr.send();
}

// Create all meetings 
function buildMeetings(meetings){
	var keys = Object.keys(meetings);
	for(key in keys){
		buildMeeting(keys[key], meetings[keys[key]]);
	}
}


// Create a meeting
function buildMeeting(key, value){

	// Create date block
	var date = document.createElement("div");
	date.classList.add("flex");
	var dateText = document.createElement("h2");
	dateText.innerHTML = "Date";
	var dateTextValue = document.createElement("h3");
	dateTextValue.innerHTML = value["date"];
	date.appendChild(dateText);
	date.appendChild(dateTextValue);

	// Create time block
	var time = document.createElement("div");
	time.classList.add("flex");
	var timeText = document.createElement("h2");
	timeText.innerHTML = "Time";
	var timeTextValue = document.createElement("h3");
	timeTextValue.innerHTML = value["time"];
	time.appendChild(timeText);
	time.appendChild(timeTextValue);


	//Create type block
	var type = document.createElement("div");
	type.classList.add("flex");
	var typeText = document.createElement("h2");
	typeText.innerHTML = "Type";
	var typeTextValue = document.createElement("h3");
	typeTextValue.innerHTML = value["type"];
	type.appendChild(typeText);
	type.appendChild(typeTextValue);

	// Create type block
	var title = document.createElement("div");
	title.classList.add("flex");
	var titleText = document.createElement("h2");
	titleText.innerHTML = "Title";
	var titleTextValue = document.createElement("h3");
	titleTextValue.innerHTML = value["title"];
	title.appendChild(titleText);
	title.appendChild(titleTextValue);

	// Create type block
	var about = document.createElement("div");
	about.classList.add("flex");
	var aboutText = document.createElement("h2");
	aboutText.innerHTML = "About";
	var aboutTextValue = document.createElement("h3");
	aboutTextValue.innerHTML = value["about"];
	about.appendChild(aboutText);
	about.appendChild(aboutTextValue);

	// Create delete block
	var _delete = document.createElement("div");
	_delete.classList.add("delete");
	var _deleteIcon = document.createElement("i");
	_deleteIcon.classList.add("far");
	_deleteIcon.classList.add("fa-times-circle");
	_delete.addEventListener("click", function(){
		deleteMeeting(this);
		this.parentNode.remove();
	});
	_delete.appendChild(_deleteIcon);

	// Create id block
	var id = document.createElement("div");
	id.classList.add("id");
	var idText = document.createElement("p");
	idText.id = "id";
	idText.innerHTML = key;
	id.appendChild(idText);

	// Create meeting block
	var meeting = document.createElement("div");
	meeting.classList.add("meeting");
	meeting.appendChild(date);
	meeting.appendChild(time);
	meeting.appendChild(type);
	meeting.appendChild(title);
	meeting.appendChild(about);
	meeting.appendChild(_delete);
	meeting.appendChild(id);

	// Add meeting
	var calendar = document.querySelector(".calendar");
	calendar.appendChild(meeting);
}



//Test request
function send(){
	var xhr = new XMLHttpRequest();
	xhr.open("POST", '/send', true);
	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	xhr.send();
}

// Delete meeting
function deleteMeeting(meeting){
	var id = meeting.parentNode.childNodes[6].childNodes[0].innerHTML;
	
	var xhr = new XMLHttpRequest();
	xhr.open("POST", '/delete', true);
	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	xhr.send("id="+id);
}

	</script>


</body>
</html>