<!DOCTYPE xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meetings Calendar</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<section class="header">
		<header>
			<div class="container">
				<h1>Meetings Calendar</h1>
			</div>
		</header>
	</section>

	<section class="meetings">
		<div class="container">
			<div class="calendar">
				<div class="meeting">
					
				</div>
			</div>
		</div>
	</section>
</body>
</html>